@import url(./catpuccin.css);

body {
    background-color: var(--ctp-mocha-crust);
    font-family: monospace;
}
h1 {
    color: var(--ctp-mocha-pink);
}
.box {
    color: var(--ctp-mocha-teal);
    background-color: var(--ctp-mocha-base);
    white-space: pre-wrap;
    width: fit-content;
    height: fit-content;
    margin: 5px;
    display: inline-block;
    border-radius: 10px;
}