@import url(./catpuccin.css);

html {
    font-family: monospace;
    background-color: var(--ctp-mocha-crust);
}
#container {
    position: fixed;
    top: 0; left: 0;
    display: grid;
    grid-template-areas:
     "header header header"
     "left center right"
     "footer footer footer";
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: 10vw 70vw 10vw;
}
#reply {
    margin-left: auto;
}
h1 {
    position: fixed;
    top: 0; left: 0;
    color: var(--ctp-mocha-pink);
    z-index: 5;
    padding-bottom: 10px;
    margin-left: 11vw;
}
.message {
    position: relative;
    z-index: 5;
}
.box {
    color: var(--ctp-mocha-teal);
    background-color: var(--ctp-mocha-base);
    white-space: pre-wrap;
    width: fit-content;
    height: fit-content;
    margin: 5px;
    border-radius: 1px;
}
.chatlog {
    position: fixed;
    top:50px; left: 10vw;
    z-index: 1;
    background-color: var(--ctp-mocha-mantle);
    color: var(--ctp-mocha-teal);
    white-space: pre-wrap;
}
#centerBox {
    position: relative;
    left: 11vw; top: 70px;
    width: 73vw;
    height: 70vh;
    z-index: 2;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}
.chatinput {
    position: fixed;
    top: 85vh; left: 10vw;
    z-index: 1;
    background-color: var(--ctp-mocha-mantle);
    color: var(--ctp-mocha-teal);
    white-space: pre-wrap;
}
#inputField {
    position: fixed;
    bottom: 3.4vh; left: 11vw;
    z-index: 20;
    width: 74vw;
    height: 9vh;
    background-color: rgba(0,0,0,0);
    border: rgba(0,0,0,0);
    color: var(--ctp-mocha-teal);
}
#inputFieldText {
    color: var(--ctp-mocha-pink);
    font-weight: bold;
}
#myMessages {
    color: var(--ctp-mocha-green);
}
#otherMessages {
    color: var(--ctp-mocha-peach);
}



:root {
  --ctp-mocha-rosewater: #f5e0dc;
  --ctp-mocha-flamingo: #f2cdcd;
  --ctp-mocha-pink: #f5c2e7;
  --ctp-mocha-mauve: #cba6f7;
  --ctp-mocha-red: #f38ba8;
  --ctp-mocha-maroon: #eba0ac;
  --ctp-mocha-peach: #fab387;
  --ctp-mocha-yellow: #f9e2af;
  --ctp-mocha-green: #a6e3a1;
  --ctp-mocha-teal: #94e2d5;
  --ctp-mocha-sky: #89dceb;
  --ctp-mocha-sapphire: #74c7ec;
  --ctp-mocha-blue: #89b4fa;
  --ctp-mocha-lavender: #b4befe;
  --ctp-mocha-text: #cdd6f4;
  --ctp-mocha-subtext1: #bac2de;
  --ctp-mocha-subtext0: #a6adc8;
  --ctp-mocha-overlay2: #9399b2;
  --ctp-mocha-overlay1: #7f849c;
  --ctp-mocha-overlay0: #6c7086;
  --ctp-mocha-surface2: #585b70;
  --ctp-mocha-surface1: #45475a;
  --ctp-mocha-surface0: #313244;
  --ctp-mocha-base: #1e1e2e;
  --ctp-mocha-mantle: #181825;
  --ctp-mocha-crust: #11111b;
}